[Desktop Entry]
Name=OwpenGram
Comment=New era of messaging
TryExec=OwpenGram
Exec=OwpenGram -- %U
Icon=org.owpengram.desktop
Terminal=false
StartupWMClass=org.owpengram.desktop
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;owpengram;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=OwpenGram -quit
Name=Quit OwpenGram
Icon=application-exit
